* {
    margin: 2px;
    padding: 5px;
  }

  table {
    border-collapse: collapse;
  }

  table tr, td, th {
    border: 2px solid gray;
    text-align: center;        
  }

  table a {
    text-decoration: none;
  }

  #header {
    display: inline-block;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    width: 99%;
    vertical-align: center;
  }

  table tr:first-child {
    background-color: darkcyan;
    color: white;
  }

  tr td:last-child {
    background-color: white;
  }

  #btnCreate {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    min-height: 30px;
    padding: 10px;
    margin: 10px;
  }

  #main {
    border: 2px solid gray;
    border-radius: 4px;
    margin: 2px;
    padding: 20px;
  }

  #header a {
    float:right;
    color: white;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }

  #header a img {
    max-width: 75px;
    max-height:75px;
  }

  #main a img {
    max-width: 35px;
    max-height: 35px;
  }

  #header h1 {
    font-size: 3em;
    margin: 20px 0px 0px 10px;
    float: left;
    vertical-align: center;
  }

  /*#imagen {
    width: 49%;
    float: left;
    padding: 4px;
  } */

  #imagen img {
    max-width: 300px;
    max-height: 300px;
  }